apiVersion: apps/v1
kind: Deployment
metadata:
  name: personicle-backend-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: personicle-backend-api
  template:
    metadata:
      labels:
        app: personicle-backend-api
    spec:
      containers:
      - name: personicle-backend-api
        image: personicleservices.azurecr.io/backend-data-api
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: secrets
              key: DB_USERNAME
        - name: PASSWORD
          valueFrom:
            secretKeyRef:
              name: secrets
              key: PASSWORD
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: secrets
              key: DB_HOST
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: secrets
              key: DB_NAME
        - name: PERSONICLE_AUTH_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: secrets
              key: PERSONICLE_AUTH_ENDPOINT
        - name: DEV_ENVIRONMENT
          valueFrom:
            secretKeyRef:
              name: secrets
              key: DEV_ENVIRONMENT
        - name: PERSONICLE__API_ENDPOINT
          valueFrom:
            secretKeyRef:
              name: secrets
              key: PERSONICLE__API_ENDPOINT
        - name: OKTA_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: secrets
              key: OKTA_CLIENT_ID
        - name: OKTA_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: secrets
              key: OKTA_CLIENT_SECRET
        - name: OKTA_AUDIENCE
          valueFrom:
            secretKeyRef:
              name: secrets
              key: OKTA_AUDIENCE
        - name: OKTA_ISSUER
          valueFrom:
            secretKeyRef:
              name: secrets
              key: OKTA_ISSUER
---
apiVersion: v1
kind: Service
metadata:
  name: personicle-backend-api
spec:
  ports:
  - port: 8080
    name: http2
    protocol: TCP
    targetPort: 8080
  selector:
    app: personicle-backend-api
